<div class="col-sm-6">
	<div class="widget-box transparent" id="recent-box">
		<div class="widget-header">
			<h4 class="widget-title lighter smaller">
				<i class="ace-icon fa fa-calendar blue"></i>今日安排
			</h4>

			<div class="widget-toolbar no-border">
				<ul class="nav nav-tabs" id="recent-tab">
					<li class="active">
						<a data-toggle="tab" href="#meetSchedule">接待</a>
					</li>

					<li>
						<a data-toggle="tab" href="#hall">展厅</a>
					</li>

					<li>
						<a data-toggle="tab" href="#meetingRoom">会议室</a>
					</li>

				</ul>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main padding-4">
				<div class="tab-content padding-8">
					<div id="meetSchedule" class="tab-pane active">
						<h4 class="smaller lighter green">
							<i class="ace-icon fa fa-list"></i>
							12月22日
							<button class="ace btn-success pull-right">预定</button>
						</h4>

						<!-- #section:pages/dashboard.tasks -->
						<ul id="tasks" class="item-list">
							<li class="item-orange clearfix selected">
								<label class="inline">
									<span class="lbl"> 9:00 - 11:00 &nbsp; 回答客户提问</span>
								</label>
							</li>

							<li class="item-default clearfix">
								<label class="inline">
									<span class="lbl"> Adding new features</span>
								</label>
							</li>

							<li class="item-blue clearfix">
								<label class="inline">
									<span class="lbl"> Upgrading scripts used in template</span>
								</label>
							</li>

							<li class="item-grey clearfix">
								<label class="inline">
									<span class="lbl"> Adding new skins</span>
								</label>
							</li>

							<li class="item-green clearfix">
								<label class="inline">
									<span class="lbl"> Updating server software up</span>
								</label>
							</li>

							<li class="item-pink clearfix">
								<label class="inline">
									<span class="lbl"> Cleaning up</span>
								</label>
							</li>
						</ul>

						<!-- /section:pages/dashboard.tasks -->
					</div>

					<div id="hall" class="tab-pane">
						<h4 class="smaller lighter green">
							<i class="ace-icon fa fa-list"></i>
							12月22日
						</h4>

						<!-- #section:pages/dashboard.tasks -->
						<ul id="tasks" class="item-list">
							<li class="item-orange clearfix selected">
								<label class="inline">
									<span class="lbl"> 9:00 - 11:00 &nbsp; 回答客户提问</span>
								</label>
							</li>

							

							<li class="item-pink clearfix">
								<label class="inline">
									<span class="lbl"> Cleaning up</span>
								</label>
							</li>
						</ul>

						<!-- /section:pages/dashboard.tasks -->
					</div>
				</div>
			</div><!-- /.widget-main -->
		</div><!-- /.widget-body -->
	</div><!-- /.widget-box -->
</div><!-- /.col -->