<extend name="Base/base" />


<block name="breadcrumbs">
	<include file="Base/breadcrumbs" active="上传资料" leaf="共享空间" url="{:U('Share/uploadDocs')}"/>
</block>

<block name="content">
	
	<div class="row">
		<div class="col-sm-12">
			<form class="form-horizontal" role="form"  method="post" action="{:U('Share/uploadDocs')}" id="uploadform">

				

				<div id="main_content">

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="file"></label>
						<div class="col-sm-4">
							<input class="col-xs-10 col-sm-5" multiple="" type="file" id="edoc" name="edoc" />
						</div>
						
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="file_name"> 文档名称:<strong class="text-danger">*</strong></label>

						<div class="col-sm-9">
							<input type="text" name="file_name" placeholder="" class="col-xs-10 col-sm-5" />
							<em class="text-danger"></em>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="summary"> 文档摘要:</label>

						<div class="col-sm-9">
							<textarea class="col-xs-10 col-sm-5" name="summary" id="summary"></textarea>
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="series_id"> 文档类型:<strong class="text-danger">*</strong></label>

						<div class="col-sm-9">
							<select class="col-xs-10 col-sm-5" id="series" name="series_id">
								<option value=""></option>
								<foreach name="series" item="se">
									<option value="{$se.id}">{$se.name}</option>
								</foreach>
							</select>
							<em class="text-danger"></em>
						</div>
					</div>

					<div class="form-group" id="local_place_div">
						<label class="col-sm-3 control-label no-padding-right" for="open_scope"> 公开范围:<strong class="text-danger">*</strong></label>

						<div class="col-sm-9">
							<select class="col-xs-10 col-sm-5" name="open_scope">
								<option value="0">全委</option>
								<option value="{$department}">本处室</option>
								<!-- <foreach name="series" item="se">
									<option value="{$se.id}">{$se.name}</option>
								</foreach> -->
							</select>
							<em class="text-danger"></em>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for=""> &nbsp;</label>

						<div class="col-sm-9">
							<label>
								<input name="remind_read" id="remind_read" type="checkbox" class="ace" value="1" />
								<span class="lbl"> 阅读提醒</span>
							</label>
						</div>
					</div>

					<div class="row">
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-info" type="submit">
									<i class="icon-ok bigger-110"></i>
									保存
								</button>

								&nbsp; &nbsp; &nbsp;
								<a class="btn" type="button" href="{:U('Share/uploadDocs')}">
									<i class="icon-undo bigger-110"></i>
									返回
								</a>
							</div>
						</div>
					</div>

				</div> <!-- main_content -->

			</form>
		</div>	
	</div>
	
</block>

<block name="page_js">
	<script src="__JS__/jquery.form.min.js"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/messages_zh.min.js"></script>
	<script src="__JS__/bootbox.min.js"></script>	
</block>

<block name="inline_js">
	<script type="text/javascript">
		jQuery(function($){
			
			//设置指示标位置
			setSidebarActive('share_root', 'share_add');

			// 初始化文件上传控件
			$('#edoc').ace_file_input({
				style:'well',
				btn_choose:'拖动文件或点击上传',
				btn_change:null,
				no_icon:'ace-icon fa fa-cloud-upload',
				droppable:true,
				thumbnail:'large'//large | fit
				//,icon_remove:null//set null, to hide remove/reset button
				/**,before_change:function(files, dropped) {
					//Check an example below
					//or examples/file-upload.html
					return true;
				}*/
				/**,before_remove : function() {
					return true;
				}*/
				,
				preview_error : function(filename, error_code) {
					//name of the file that failed
					//error_code values
					//1 = 'FILE_LOAD_FAILED',
					//2 = 'IMAGE_LOAD_FAILED',
					//3 = 'THUMBNAIL_FAILED'
					//alert(error_code);
				}
			
			}).on('change', function(){
				var fileName = $('span.ace-file-name').attr('data-title');
				var title = fileName.split('.')[0];
				$('input[name="file_name"]').attr('value', title);

			});


			//表单验证设置
			$('#uploadform').validate({
				rules:{
					file_name: "required",
					open_scope: "required",
					series_id: "required"	
				},//rules end
				errorPlacement: function(error, element){
					var next = element.next();
					
					error.appendTo(next);
				}
			});

			//处理表单的提交
			$('#uploadform').ajaxForm({
				beforeSubmit: showRequest,
				success: showResponse,
				clearForm: false,
				dataType: 'json'
			});



		});


		

		// 表单验证
		function showRequest(formData, jqForm, options){
			//radio无法验证，单独处理
			return $('#uploadform').valid()
				
		}

		function showResponse(responseText, statusText, xhr, $form){
			if(responseText==1){
				bootbox.alert('保存成功！');
				window.location.href = "{:U('Share/uploadDocs')}";
			}
			else{
				bootbox.alert(responseText);
			}
		} 

	</script>
</block>
