<div id="event-form" class="modal" tabindex="-1" xmlns="http://www.w3.org/1999/html">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-danger check_save" role="alert" style="display: none;">
                <strong>Error ！</strong> 权限不能为空.
            </div>
            <div id="modal-body" class="modal-body">

            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-primary save">
                    <i class="ace-icon fa fa-check"></i>
                    保存
                </button>

                <button class="btn btn-sm qx" data-dismiss="modal" >
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger save_error" role="alert" style="display: none;">
    <strong>Error ！</strong> 权限保存失败.
</div>

<div class="alert alert-info save_success"  role="alert" style="display: none;">
    <strong>Success !</strong> 编辑权限成功.
</div>
