<div id="event-form" class="modal" tabindex="-1" xmlns="http://www.w3.org/1999/html">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-danger check_save" role="alert" style="display: none;">
                <strong>Error ！</strong> 权限不能为空.
            </div>
            <div id="modal-body" class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="permissions_name" class="col-sm-2 control-label">权限名称</label>
                        <div class="col-sm-10">
                            <input name="permissions_name" type="text" class="form-control" id="permissions_name" placeholder="权限名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="permissions_url" class="col-sm-2 control-label">权限路由</label>
                        <div class="col-sm-10">
                            <input name="permissions_url" type="text" class="form-control" id="permissions_url" placeholder="权限路由">
                        </div>
                    </div>
                    <input type="hidden" name="permissions_id">
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-primary save"">
                    <i class="ace-icon fa fa-check"></i>
                    保存
                </button>

                <button class="btn btn-sm qx" data-dismiss="modal" >
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>
